* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #fdf5e7;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

p {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #6c757d;
}

/* navigation  style */

nav .brand-color {
  color: #d95d37;
}

nav.r-nav {
  background: transparent;
  padding: 20px 0;
  transition: 0.5s all;
}

nav .navbar-brand {
  font-size: 30px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

nav .navbar-nav li a {
  color: white !important;
  font-size: 16px;
  letter-spacing: 0.05em;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
}

nav .nav-item:first-child a {
  border-bottom: 2px solid #d95d37;
  padding-bottom: 1px;
}

nav .navbar-nav li {
  margin-left: 15px;
}

nav.r-nav.stickyAdd {
  background-color: #1b1a17 !important;
  padding: 15px 0;
  box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.05);
  transition: 0.4s all ease-in-out;
}

nav.stickyAdd .navbar-brand {
  /* color: black; */
  font-size: 32px;
  transition: 0.4s all;
}

nav.stickyAdd .brand-color {
  color: #fff;
}

nav.stickyAdd .navbar-brand {
  color: #d95d37;
}

.navbar .hamburger {
  color: white;
}

nav.stickyAdd .hamburger {
  color: #fff;
}

/* endOf navigation Style  */

/* Header Section Start */

header {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/images/annonce.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-box {
  max-width: 700px;
  color: #fff;
}

.content-box h1 {
  font-size: 30px;
  color: white;
}

.content-box h4 {
  font-size: 56px;
}

.ticket {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background-color: #d95d37;
  color: black;
  font-weight: 600;
}

.ticket:hover {
  color: #d95d37;
  border: 1px solid #d95d37 !important;
  background: none;
}
.content-box p {
  color: white;
  margin: 1rem;
}
/* Header Section End   */

/* Join Us section start  */

.join-us {
  padding: 50px 0rem;
}
.titles {
  margin-bottom: 20px;
}
.join-us h1 {
  font-weight: 600;
}

.join-us p {
  font-size: 18px;
}

.own-list {
  background: none;
  border: none;
  background: url("../assets/icones/checkmark.svg") no-repeat left center;
  font-weight: 600;
  padding: 20px 20px 20px 60px;
  transition: 0.5s all;
}

/* Join Us section End    */

/* Carousel section || about us Start */

.about-us-class {
  background-color: #f6eade;
  padding: 4rem;
}

.about-us-class .slide-item {
  max-width: 500px;
  margin: 10px auto;
}

.about-us-class .slide-item .slide-img {
  background-repeat: no-repeat;
  background-size: cover;
  width: 150px;
  height: 150px;
  border: 2px solid #d95d37;
  /* margin-top: 20px; */
}

.about-us-class .slide-item .stars i {
  color: goldenrod;
}

.about-us-class h2 {
  font-weight: 600;
  line-height: 1.5;
  margin: 5px auto 5px auto;
}

.about-us-class .slide-item h4 {
  font-size: 16px;
  font-weight: normal;
  margin: 0 auto 4px auto;
}

/* Carousel section || about us End   */

/* Drag and drop style */

#dragger_wrapper {
  background-color: black;
  padding: 50px;
  border-radius: 10px;
}

#dragger {
  background-color: #cdcdcd;
  border-radius: 10px;
  border: 2px dashed black;
  padding: 20px;
}

#dragger img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

#filename .img-name {
  font-weight: 600;
  color: black;
}

#dragger.active {
  border: 2px dashed #d95d37;
}

.icon {
  color: black;
  font-size: 30px;
  margin: 10px 0;
}

.dragMsg1 {
  font-size: 18px;
}

.dragMsg,
.dragMsg1 #filename {
  font-weight: bolder;
  font-size: 18px;
  color: black;
  margin: 10px;
}
.fa-trash-can {
  color: rgb(224, 73, 73);
}

#filename {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.browseFileBtn {
  color: black !important;
  border: 2px solid black !important;
  background: none !important;
  font-weight: 600;
  cursor: pointer;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  padding: 5px !important;
  background-color: #d95d37 !important;
  border-radius: 5px;
}

.add-img-btn {
  padding: 0.5rem 1rem;
  background-color: rgb(228, 226, 226);
  color: black;
  font-weight: 600;
  outline: none !important;
  border: none;
}

.add-img-btn:hover {
  color: #d95d37;
  border: 1px solid #d95d37 !important;
  background: none !important;
}

.slide-tran {
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  height: 500px;
  border-radius: 5px;
}

.transformation {
  padding: 40px;
}

.transformation .titles h2 {
  font-weight: 600;
  line-height: 1.5;
}
