* {
  padding: 0;
  margin: 0;
}
body {
  background-color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #6c757d;
}

/* navigation  style */

nav .brand-color {
  color: orange;
}

nav.r-nav {
  background: transparent;
  padding: 20px 0;
  transition: 0.5s all;
}

nav .navbar-brand {
  font-size: 30px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

nav .navbar-nav li a {
  color: white !important;
  font-size: 16px;
  letter-spacing: 0.05em;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
}

nav .nav-item:first-child a {
  border-bottom: 2px solid orange;
  padding-bottom: 1px;
}

nav .navbar-nav li {
  margin-left: 15px;
}

nav.r-nav.stickyAdd {
  background-color: #1b1a17 !important;
  padding: 15px 0;
  box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.05);
  transition: 0.4s all ease-in-out;
}

nav.stickyAdd .navbar-brand {
  /* color: black; */
  font-size: 32px;
  transition: 0.4s all;
}

nav.stickyAdd .brand-color {
  color: #fff;
}

nav.stickyAdd .navbar-brand {
  color: orange;
}

.navbar .hamburger {
  color: white;
}

nav.stickyAdd .hamburger {
  color: #fff;
}
/* endOf navigation Style  */

/* Header Section Start */

header {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/images/annonce.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 150px;
}

.content-box {
  max-width: 700px;
  color: #fff;
}

.content-box h1 {
  font-size: 30px;
  color: white;
}

.content-box h4 {
  font-size: 56px;
}
.ticket {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background-color: orange;
  color: black;
  font-weight: 600;
}

.ticket:hover {
  color: orange;
  border: 1px solid orange !important;
  background: none;
}
.content-box p {
  color: white;
  margin: 1rem;
}
/* Header Section End   */

/* Join Us section start  */

.join-us {
  padding: 50px 0rem;
}

.join-us h1 {
  font-family: "poppins", sans-serif;
  font-weight: 600;
}

.join-us p {
  font-size: 18px;
}

.own-list {
  background: none;
  border: none;
  background: url("../assets/icones/checkmark.svg") no-repeat left center;
  font-weight: 600;
  padding: 20px 20px 20px 60px;
  transition: 0.5s all;
}

/* Join Us section End    */

/* Carousel section || about us Start */

.about-us-class .test-item{
  max-width: 500px;
  margin: 50px auto;
}

/* Carousel section || about us End   */
